body{
	font-family: Arial, sans-serif;
	min-width: 320px;
}

img{
	max-width: 100%;
	margin: 0 auto;
}


/* _________________ Cabeçalho ________________ */
header{
	background: rgba(0, 0, 0, 0.9);
	color: #fff;
	padding: 10px;
}

#title_pag{
	font-size: 35px;
	text-align: center;
	padding: 10px 0 25px;
	border-bottom: 1px solid #fff;
	margin: 0 auto;
}

#menu_botao{
	display: none;
	cursor: pointer;
}

#menu_botao div{
	background: #fff;
	height: 3px;
	width: 40px;
	margin: 3px 0;
}

#menu_list{
	text-align: center;
	padding: 10px 0;
}

#menu_list ul{
	display: flex;
	justify-content: center;
}

#menu_list li{
	margin: 10px 15px;
	font-size: 18px;
}

#menu_list a{
	color: #fff;
	text-decoration: none;
	padding: 10px 20px;
}



/* _________________ Seção 1 - banner ________________ */
#secao01{
	background: url(../images/bg.jpg) no-repeat center;
}

#banner_mascara{
	background-image: linear-gradient(to right, #6F161C, #111111);
	opacity: 0.8;
}

#conteudo_banner{
	padding: 180px 20px;
	color: #fff;
	text-align: center;
}

#conteudo_banner h2{
	font-size: 60px;
	padding-bottom: 60px;
}

#p_banner{
	font-size: 18px;
	padding: 0 30px;
}

/* _________________ Seção 2 ________________ */
#secao02{
	background: #F3F3F3;
	padding: 80px 0;
}

#topo_sec02{
	color: #616161;
	text-align: center;
	padding: 0 20px 50px;
}

#blocos{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}

.div_secao02{
	background: #fff;
	width: 30%;
	padding: 60px 20px;
	margin-bottom: 20px;
	text-align: center;
}

.icon-div{
	font-size: 60px;
	color: #DF0101;
}

.div02_conteudo h3{
	padding-bottom: 20px;
}


/* _________________ Seção 3 ________________ */
#secao03{
	background: url(../images/bg02.jpg) no-repeat center;
	background-attachment: fixed;
}

#sec03_mascara{
	background: rgba(138,8,8,0.5);
}

#sec_conteudo{
	padding: 80px 20px;
	color: #fff;
	text-align: center;
}


/* _________________ Seção 3 ________________ */
#secao04{
	background: #F3F3F3;
	padding: 80px 0;
}

#sec04_topo{
	padding: 0 20px 40px;
	text-align: center;
	color: #616161;
}

#sec04_topo h3{
	font-size: 40px;
}

#sec04_citacoes{
	display: flex;
	justify-content: space-around;
}

.bloq_04{
	width: 30%;
	background: #fff;
	padding: 40px 10px;
	box-sizing: border-box;
}

blockquote{
	width: 70%;
	padding-left: 40px;
	margin: 0 0 30px 20px;
	border-left: 4px solid #BFBFBF; 
}

blockquote p{
	font-style: italic;
	color: #C1C1C1;
}

.auto_block{
	display: flex;
	align-items: center;
}

.img_block{
	max-width: 20%;
	margin-right: 10px;
}

.img_block img{
	border-radius: 100%;
}

.txt_block span{
	color: #DF0101;
}


/* _________________ Rpdape ________________ */
footer{
	background: #000;
	padding: 30px 20px;
	color: #fff;
}

#rodape{
	display: flex;
	justify-content: space-between;
	padding-bottom: 40px;
	width: 90%;
	margin: 0 auto;
}

#footer_txt01{
	width: 60%;
}

#footer_txt01 h3{
	font-size: 28px;
	padding-bottom: 15px;
}

#footer_txt01 p{
	font-size: 14px;
}

#redes_sociais{
	width: 30%;
	padding: 10px 5px 0 70px;
	border-left: 1px solid #fff;
}

#redes_sociais li span{
	padding: 8px;
}

#redes_sociais a{
	text-decoration: none;
}

.icon{
	font-size: 20px;
}

#creditos{
	text-align: center;
	padding: 20px 0;
}


/* ____________ Responsividades __________ */
@media only screen and (max-width: 850px){
	blockquote{
		width: 90%;
		padding-left: 10px;
		margin: 0 0 30px 20px;
		border-left: 4px solid #BFBFBF; 
	}

	.bloq_04{
		padding: 30px 10px;
	}

	#redes_sociais{
	padding: 10px 5px 0 20px;
	}
}

@media only screen and (max-width: 650px){
	#title_botao{
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	#title_pag{
		text-align: left;
		padding: 0;
		border-bottom: 1px solid #fff;
		margin: 0;
	}

	#title_pag h1{
		font-size: 28px;
	}

	#menu_botao{
		display: block;
		margin-left: 30px;
	}

	#menu_list{
		display: none;
	}

	#menu_list li{
		font-size: 16px;
		margin: 0;
	}

	.div_secao02{
		width: 45%;
	}

	#sec04_citacoes, #rodape{
		flex-direction: column;
		align-items: center;
	}

	.bloq_04{
		width: 80%;
		margin-bottom: 20px;
	}

	#footer_txt01{
		width: 100%;
	}

	#redes_sociais{
		border: none;
		margin-top: 20px;
		width: 100%;
		padding: 0;
	}
}


@media only screen and (max-width: 450px){
	#title_pag h1{
		font-size: 23px;
	}

	.div_secao02{
		width: 80%;
	}

	#menu_list li{
		font-size: 14px;
	}

	#menu_list a{
		padding: 10px 5px;
	}
}